<div class="child-stagger">
  <ul>
    <li class="grow-in">
      <div class="mock-text"></div>
    </li>
    <li class="grow-in">
      <div class="mock-text"></div>
    </li>
    <li class="grow-in">
      <div class="mock-text"></div>
    </li>
  </ul>
</div>
